# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
*.egg-info/
.ipynb_checkpoints/

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Spark
metastore_db/
derby.log
spark-warehouse/

# Temp files
*.tmp
*.log
